body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #57ff00;

    overflow: hidden;

    transition: background-color 0.2s;
}

#timer {
    font-size: 24vw;

    color: black;

    font-family: "Times New Roman", serif;

    user-select: none;

    cursor: pointer;
}
